@forward "element-plus/theme-chalk/src/common/var.scss" with ($colors: (
  "primary": ("base": #0066bc),
  "success": ("base": #46b61f),
  "warning": ("base": #ffad00),
  "danger": ("base": #e52f2f),
  "info": ("base": #47afdc),
));

//默认主题颜色配置(包括按钮颜色)