<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.DanweiMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.Danwei">
            <id property="id" column="ID" />
            <result property="bianma" column="BianMa" />
            <result property="mingcheng" column="MingCheng" />
            <result property="shangjidanweiid" column="ShangJiDanWeiID" />
            <result property="fuzeren" column="FuZeRen" />
            <result property="bumenfuzeren" column="BuMenFuZeRen" />
            <result property="beizhu" column="BeiZhu" />
            <result property="hangye" column="HangYe" />
            <result property="leibie" column="LeiBie" />
            <result property="shifouzhuanyehuags" column="ShiFouZhuanYeHuaGS" />
    </resultMap>

    <sql id="Base_Column_List">
        ID,BianMa,MingCheng,ShangJiDanWeiID,FuZeRen,BuMenFuZeRen,
        BeiZhu,HangYe,LeiBie,ShiFouZhuanYeHuaGS
    </sql>
</mapper>
