<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.NoticeMapper">

    <!-- 自定义查询：支持条件搜索 -->
    <select id="selectAll" resultType="com.example.entity.Notice">
        select * from notice
        <where>
            <if test="title != null and title != ''"> and title like '%' + #{title} + '%'</if>
        </where>
    </select>

</mapper>
